<div class="ticket-list">

  <button (click)=filtre() *ngIf="displayTicketArchived == true"> Hide archived Ticket  </button>
  <button (click)=filtre() *ngIf="displayTicketArchived == false"> Show archived Ticket  </button>

  <div class="ticket" *ngFor="let ticket of ticketList ">
    <div *ngIf="ticket.archived == displayTicketArchived ">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <app-ticket [ticket]="ticket" 
      (ticketHasBeenSelected)="ticketHasBeenSelected($event) " 
      (ticketHasBeenArchived)="archiveTicket($event) ">
      </app-ticket>
    </div>
  </div>

</div>
